openapi: 3.0.3
info:
  description: >-
    Welcome to Cloudflare's API documentation site. We are experimenting with an
    updated version of our API documentation - check out
    [developers.cloudflare.com/api-next/](https://developers.cloudflare.com/api-next/)
    to test out the new experience.


    To get started using Cloudflare's products and services via the API, refer
    to [how to interact with
    Cloudflare](https://developers.cloudflare.com/fundamentals/basic-tasks/interact-with-cloudflare/),
    which covers using tools like
    [Terraform](https://developers.cloudflare.com/terraform/#cloudflare-terraform)
    and the [official
    SDKs](https://developers.cloudflare.com/fundamentals/api/reference/sdks/) to
    maintain your Cloudflare resources.


    Using the Cloudflare API requires authentication so that Cloudflare knows
    who is making requests and what permissions you have. Create an API token to
    grant access to the API to perform actions. You can also authenticate with
    [API
    keys](https://developers.cloudflare.com/fundamentals/api/get-started/keys/),
    but these keys have [several
    limitations](https://developers.cloudflare.com/fundamentals/api/get-started/keys/#limitations)
    that make them less secure than API tokens. Whenever possible, use API
    tokens to interact with the Cloudflare API.


    To create an API token, from the Cloudflare dashboard, go to My Profile >
    API Tokens and select Create Token. For more information on how to create
    and troubleshoot API tokens, refer to

    our [API fundamentals](https://developers.cloudflare.com/fundamentals/api/).


    For information regarding rate limits, refer to our [API Rate
    Limits](https://developers.cloudflare.com/cloudflare-for-platforms/workers-for-platforms/platform/limits/#api-rate-limits).


    Totally new to Cloudflare? [Start
    here](https://developers.cloudflare.com/fundamentals/get-started/).
  license:
    name: BSD-3-Clause
    url: https://opensource.org/licenses/BSD-3-Clause
  title: Cloudflare API
  version: 4.0.0
servers:
  - description: Client API
    url: https://api.cloudflare.com/client/v4
paths:
  /accounts/{account_id}/cfd_tunnel/{tunnel_id}/connectors/{connector_id}:
    get:
      description: Fetches connector and connection details for a Cloudflare Tunnel.
      operationId: cloudflare-tunnel-get-cloudflare-tunnel-connector
      parameters:
        - in: path
          name: account_id
          required: true
          schema:
            description: Cloudflare account ID
            example: 699d98642c564d2e855e9661899b7252
            maxLength: 32
            readOnly: true
            type: string
            x-auditable: true
        - in: path
          name: tunnel_id
          required: true
          schema:
            description: UUID of the tunnel.
            example: f70ff985-a4ef-4643-bbbc-4a0ed4fc8415
            format: uuid
            maxLength: 36
            readOnly: true
            type: string
            x-auditable: true
        - in: path
          name: connector_id
          required: true
          schema:
            description: UUID of the Cloudflare Tunnel connector.
            example: 1bedc50d-42b3-473c-b108-ff3d10c0d925
            format: uuid
            maxLength: 36
            readOnly: true
            type: string
            x-auditable: true
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                  - properties:
                      errors:
                        example: []
                        items:
                          properties:
                            code:
                              minimum: 1000
                              type: integer
                            message:
                              type: string
                          required:
                            - code
                            - message
                          type: object
                          uniqueItems: true
                        type: array
                      messages:
                        example: []
                        items:
                          properties:
                            code:
                              minimum: 1000
                              type: integer
                            message:
                              type: string
                          required:
                            - code
                            - message
                          type: object
                          uniqueItems: true
                        type: array
                      result:
                        anyOf:
                          - type: object
                          - items: {}
                            type: array
                          - type: string
                      success:
                        description: Whether the API call was successful
                        enum:
                          - true
                        example: true
                        type: boolean
                    required:
                      - success
                      - errors
                      - messages
                      - result
                    type: object
                  - properties:
                      result:
                        description: >-
                          A client (typically cloudflared) that maintains
                          connections to a Cloudflare data center.
                        properties:
                          arch:
                            description: >-
                              The cloudflared OS architecture used to establish
                              this connection.
                            example: linux_amd64
                            type: string
                          config_version:
                            description: >-
                              The version of the remote tunnel configuration.
                              Used internally to sync cloudflared with the Zero
                              Trust dashboard.
                            type: integer
                          conns:
                            description: >-
                              The Cloudflare Tunnel connections between your
                              origin and Cloudflare's edge.
                            items:
                              properties:
                                client_id:
                                  description: UUID of the Cloudflare Tunnel connector.
                                  example: 1bedc50d-42b3-473c-b108-ff3d10c0d925
                                  format: uuid
                                  maxLength: 36
                                  readOnly: true
                                  type: string
                                  x-auditable: true
                                client_version:
                                  description: >-
                                    The cloudflared version used to establish
                                    this connection.
                                  example: 2022.7.1
                                  type: string
                                colo_name:
                                  description: >-
                                    The Cloudflare data center used for this
                                    connection.
                                  example: DFW
                                  type: string
                                id:
                                  description: UUID of the Cloudflare Tunnel connection.
                                  example: 1bedc50d-42b3-473c-b108-ff3d10c0d925
                                  format: uuid
                                  maxLength: 36
                                  readOnly: true
                                  type: string
                                  x-auditable: true
                                is_pending_reconnect:
                                  description: >-
                                    Cloudflare continues to track connections
                                    for several minutes after they disconnect.
                                    This is an optimization to improve latency
                                    and reliability of reconnecting.  If `true`,
                                    the connection has disconnected but is still
                                    being tracked. If `false`, the connection is
                                    actively serving traffic.
                                  example: false
                                  type: boolean
                                opened_at:
                                  description: >-
                                    Timestamp of when the connection was
                                    established.
                                  example: '2021-01-25T18:22:34.317854Z'
                                  format: date-time
                                  type: string
                                origin_ip:
                                  allOf:
                                    - example: 10.1.0.137
                                      type: string
                                  description: >-
                                    The public IP address of the host running
                                    cloudflared.
                                uuid:
                                  description: UUID of the Cloudflare Tunnel connection.
                                  example: 1bedc50d-42b3-473c-b108-ff3d10c0d925
                                  format: uuid
                                  maxLength: 36
                                  readOnly: true
                                  type: string
                                  x-auditable: true
                            type: array
                          features:
                            description: Features enabled for the Cloudflare Tunnel.
                            items:
                              example: ha-origin
                              type: string
                            type: array
                          id:
                            description: UUID of the Cloudflare Tunnel connection.
                            example: 1bedc50d-42b3-473c-b108-ff3d10c0d925
                            format: uuid
                            maxLength: 36
                            readOnly: true
                            type: string
                            x-auditable: true
                          run_at:
                            description: >-
                              Timestamp of when the tunnel connection was
                              started.
                            example: '2009-11-10T23:00:00Z'
                            format: date-time
                            type: string
                          version:
                            description: >-
                              The cloudflared version used to establish this
                              connection.
                            example: 2022.7.1
                            type: string
                        type: object
                    type: object
          description: Get Cloudflare Tunnel connector response
        4XX:
          content:
            application/json:
              schema:
                allOf:
                  - allOf:
                      - properties:
                          errors:
                            example: []
                            items:
                              properties:
                                code:
                                  minimum: 1000
                                  type: integer
                                message:
                                  type: string
                              required:
                                - code
                                - message
                              type: object
                              uniqueItems: true
                            type: array
                          messages:
                            example: []
                            items:
                              properties:
                                code:
                                  minimum: 1000
                                  type: integer
                                message:
                                  type: string
                              required:
                                - code
                                - message
                              type: object
                              uniqueItems: true
                            type: array
                          result:
                            anyOf:
                              - type: object
                              - items: {}
                                type: array
                              - type: string
                          success:
                            description: Whether the API call was successful
                            enum:
                              - true
                            example: true
                            type: boolean
                        required:
                          - success
                          - errors
                          - messages
                          - result
                        type: object
                      - properties:
                          result:
                            description: >-
                              A client (typically cloudflared) that maintains
                              connections to a Cloudflare data center.
                            properties:
                              arch:
                                description: >-
                                  The cloudflared OS architecture used to
                                  establish this connection.
                                example: linux_amd64
                                type: string
                              config_version:
                                description: >-
                                  The version of the remote tunnel
                                  configuration. Used internally to sync
                                  cloudflared with the Zero Trust dashboard.
                                type: integer
                              conns:
                                description: >-
                                  The Cloudflare Tunnel connections between your
                                  origin and Cloudflare's edge.
                                items:
                                  properties:
                                    client_id:
                                      description: UUID of the Cloudflare Tunnel connector.
                                      example: 1bedc50d-42b3-473c-b108-ff3d10c0d925
                                      format: uuid
                                      maxLength: 36
                                      readOnly: true
                                      type: string
                                      x-auditable: true
                                    client_version:
                                      description: >-
                                        The cloudflared version used to
                                        establish this connection.
                                      example: 2022.7.1
                                      type: string
                                    colo_name:
                                      description: >-
                                        The Cloudflare data center used for this
                                        connection.
                                      example: DFW
                                      type: string
                                    id:
                                      description: >-
                                        UUID of the Cloudflare Tunnel
                                        connection.
                                      example: 1bedc50d-42b3-473c-b108-ff3d10c0d925
                                      format: uuid
                                      maxLength: 36
                                      readOnly: true
                                      type: string
                                      x-auditable: true
                                    is_pending_reconnect:
                                      description: >-
                                        Cloudflare continues to track
                                        connections for several minutes after
                                        they disconnect. This is an optimization
                                        to improve latency and reliability of
                                        reconnecting.  If `true`, the connection
                                        has disconnected but is still being
                                        tracked. If `false`, the connection is
                                        actively serving traffic.
                                      example: false
                                      type: boolean
                                    opened_at:
                                      description: >-
                                        Timestamp of when the connection was
                                        established.
                                      example: '2021-01-25T18:22:34.317854Z'
                                      format: date-time
                                      type: string
                                    origin_ip:
                                      allOf:
                                        - example: 10.1.0.137
                                          type: string
                                      description: >-
                                        The public IP address of the host
                                        running cloudflared.
                                    uuid:
                                      description: >-
                                        UUID of the Cloudflare Tunnel
                                        connection.
                                      example: 1bedc50d-42b3-473c-b108-ff3d10c0d925
                                      format: uuid
                                      maxLength: 36
                                      readOnly: true
                                      type: string
                                      x-auditable: true
                                type: array
                              features:
                                description: Features enabled for the Cloudflare Tunnel.
                                items:
                                  example: ha-origin
                                  type: string
                                type: array
                              id:
                                description: UUID of the Cloudflare Tunnel connection.
                                example: 1bedc50d-42b3-473c-b108-ff3d10c0d925
                                format: uuid
                                maxLength: 36
                                readOnly: true
                                type: string
                                x-auditable: true
                              run_at:
                                description: >-
                                  Timestamp of when the tunnel connection was
                                  started.
                                example: '2009-11-10T23:00:00Z'
                                format: date-time
                                type: string
                              version:
                                description: >-
                                  The cloudflared version used to establish this
                                  connection.
                                example: 2022.7.1
                                type: string
                            type: object
                        type: object
                  - properties:
                      errors:
                        allOf:
                          - example: []
                            items:
                              properties:
                                code:
                                  minimum: 1000
                                  type: integer
                                message:
                                  type: string
                              required:
                                - code
                                - message
                              type: object
                              uniqueItems: true
                            type: array
                        example:
                          - code: 7003
                            message: No route for the URI
                        minLength: 1
                      messages:
                        allOf:
                          - example: []
                            items:
                              properties:
                                code:
                                  minimum: 1000
                                  type: integer
                                message:
                                  type: string
                              required:
                                - code
                                - message
                              type: object
                              uniqueItems: true
                            type: array
                        example: []
                      result:
                        enum:
                          - null
                        nullable: true
                        type: object
                      success:
                        description: Whether the API call was successful
                        enum:
                          - false
                        example: false
                        type: boolean
                    required:
                      - success
                      - errors
                      - messages
                      - result
                    type: object
          description: Get Cloudflare Tunnel connector response failure
      security:
        - api_email: []
          api_key: []
        - api_token: []
        - user_service_key: []
      summary: Get Cloudflare Tunnel connector
      tags:
        - Cloudflare Tunnel
      x-api-token-group:
        - Cloudflare One Connectors Write
        - Cloudflare One Connectors Read
        - 'Cloudflare One Connector: cloudflared Write'
        - 'Cloudflare One Connector: cloudflared Read'
        - Cloudflare Tunnel Write
        - Cloudflare Tunnel Read
